<h2>Edit Post</h2>
<form method="patch" action="/update">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="<%=post.title%>">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" type="text" name="description" id="description">
  </div>
  <div class="form-group">
    <label>Location</label>
    <input class="form-control" type="address" name="location" id="location">
  </div>
  <button class="btn btn-primary" type="submit" id="update_post">UPDATE</button> 
</form>