<h2>Edit Post</h2>
<form method="post" action="/posts/<%=post._id%>">
<input type="hidden" name="_method" value="put">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="title" id="title" value="<%=post.title%>">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input class="form-control" type="text" name="description" id="description" value="<%=post.description%>">
  </div>
  <div class="form-group">
    <label>Location</label>
    <input class="form-control" type="address" name="location" id="location" value="<%=post.location%>">
  </div>
  <button class="btn btn-primary" type="submit" id="update_post">UPDATE</button> 
</form>