<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Me Your Junk</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Anton|Archivo+Narrow|Francois+One|Amatic+SC|Bangers|Pathway+Gothic+One|News+Cycle|Permanent+Marker|Special+Elite|Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans|Fjalla+One|PT+Sans+Narrow|Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"> </script>
  </head>
  <body>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1707059116206517";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Show Me Your Junk</a>
        </div>
        <div class="collapse navbar-collapse" id="user-menu">
          <ul class="nav navbar-nav">
            <% if (user) { %>
              <li><a href="/logout">Logout</a></li<a>
            <% } else { %>
              <li><a href="/login">Log in</a></li>
              <li><a href="/signup">Sign up</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <img src="/images/couch1.jpeg" class="img-responsive" alt="Responsive image" />
    <h1>Show Me Your Junk</h1>

    <main class="container">
      <%- body %>
    </main>

  </body>
</html>