<% for(var i=0; i < posts.length; i++) { %>
  <ul>
		<li><b>Title: </b> <a href="/posts/<%= posts[i].id %>"><%= posts[i].title %></a>
			<div class="btn btn-danger nodemon" id="<%= posts[i].id %>"></div>
    </li>
	</ul>
<% } %>
<script type="text/javascript">
	$('.nodemon').click(callDelete)

	function callDelete(){
		console.log(this.id)

		$.ajax({
			url: '/posts/' + this.id,
			type: 'DELETE',
			dataType: 'json',
			success: function(result) {
				location.reload()
			}
		})
	};
</script>