.navbar-brand {
	font-family: 'Bangers', cursive;
	font-size: 28px;
	color: white;
}

.navbar-default {
	background-color: #005ca4;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav li a {
	color: white;
	font-family: 'Oswald', sans-serif;
}

.navbar-default .navbar-nav li a:hover {
	color: white;
}

#main-body {
	padding-top: 20px;
}

.img-responsive {
	margin-top: -20px;
	z-index: 1;
	position: static;
}

.row {
	list-style: none;
	font-family: 'Oswald', sans-serif;
	text-decoration: none;
	color: 000;
	font-size: 26px;
	text-align: center;
	padding-bottom: 30px;
}

a:link, a:hover, a:visited {
	color: black;
	text-decoration: none;
}

#location-index {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}

h1 {
	font-family: 'Bangers', cursive;
	margin-top: -100px;
	text-align: center;
	font-size: 150px;
	color: #005ca4;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: white;
}

p {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 30px;
}

.show-page {
	list-style: none;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

.container .jumbotron {
	margin-top: -650px;
	color: #ffffff;
	z-index: 9999;
	font-family: 'Oswald', sans-serif;
}

.box {
	background-color: white;
	width: 500px;
	z-index: 9999;
}

.form-group {
	background-color: #ffffff;
	z-index: 9999;
	font-family: 'Oswald', sans-serif;
}

.title {
	font-size: 46px;
	margin-bottom: 10px;
}

.located-at {
	margin-top: 20px;
	font-size: 26px;
}

.user {
	margin-bottom: 30px;
	margin-top: 10px;
}

.index {
	margin-bottom: 30px;
}